---
layout: default
title: God Guides
section_id: guides
works:
  - image: images/cards/agni.jpg
    title: Agni
    link_to: god-guides/agni.html
    klass: Mage
    desc: 
  - image: images/cards/anubis.jpg
    title: Anubis
    link_to: god-guides/anubis.html
    klass: Mage
    desc:
  - image: images/cards/ares.jpg
    title: Ares
    link_to: god-guides/ares.html
    klass: Guardian
    desc: 
  - image: images/cards/artemis.jpg
    title: Artemis
    link_to: god-guides/artemis.html
    klass: Hunter
    desc:
  - image: images/cards/bellona.jpg
    title: Bellona
    link_to: god-guides/bellona.html
    klass: Warrior
    desc: 
  - image: images/cards/cupid.jpg
    title: Cupid
    link_to: god-guides/cupid.html
    klass: Hunter
    desc: 
  - image: images/cards/hercules.jpg
    title: Hercules
    link_to: god-guides/hercules.html
    klass: Warrior
    desc: 
  - image: images/cards/hou-yi.jpg
    title: Hou Yi
    link_to: god-guides/hou-yi.html
    klass: Hunter
    desc: 
  - image: images/cards/janus.jpg
    title: Janus
    link_to: god-guides/janus.html
    klass: Mage
    desc: 
  - image: images/cards/neith.jpg
    title: Neith
    link_to: god-guides/neith.html
    klass: Hunter
    desc:  
  - image: images/cards/poseidon.jpg
    title: Poseidon
    link_to: god-guides/poseidon.html
    klass: Mage
    desc: 
  - image: images/cards/ra.jpg
    title: Ra
    link_to: god-guides/ra.html
    klass: Mage
    desc: 
  - image: images/cards/sun-wukong.jpg
    title: Sun Wukong
    link_to: god-guides/sun-wukong.html
    klass: Warrior
    desc: 
  - image: images/cards/ymir.jpg
    title: Ymir
    link_to: god-guides/ymir.html
    klass: Guardian
    desc: 
---


<div class='full parallax' style='background-image: url(images/guidesheader.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="God Guides" tagline="High quality guides and build advice" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='Assassin' href='#'>Assassins</a>
          </li>
          <li>
            <a data-cat='Guardian' href='#'>Guardians</a>
          </li>
          <li>
            <a data-cat='Hunter' href='#'>Hunters</a>
          </li>
          <li>
            <a data-cat='Mage' href='#'>Mages</a>
          </li>
          <li>
            <a data-cat='Warrior' warrior'#'>Warriors</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-7 medium-block-grid-6 small-block-grid-4'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
        <div class='four spacing'></div>
      <h4 class="centered-text itallic">More god guides added every week</h4>
  </div>

  <div class='four spacing'></div>
</div>