---
layout: default
section_id: home
slides:
  - bg: images/22-sept-2015-patch.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Bacchus, Khepri, Xing Tian &amp; Zeus Updated
    title:
      klass: bottom-to-top
      text: 22nd Sept Patch
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: Read the notes
          link_to: http://smiteoracle.com/2015/09/23/22nd-sept-patch-notes.html
  - bg: images/ymir-thor-release.jpg
    small_title:
      klass: bottom-to-top
      text: New god guides released
    title:
      klass: bottom-to-top
      text: ymir &amp; Thor
    buttons:
      klass: bottom-to-top
      items:
        - text: to the guides
          link_to:http://smiteoracle.com/god-guides.hmtl


works:
  - image: images/cards/agni.jpg
    title: Agni
    link_to: god-guides/agni.html
    klass: Mage
    desc: 
  - image: images/cards/anubis.jpg
    title: Anubis
    link_to: god-guides/anubis.html
    klass: Mage
    desc:
  - image: images/cards/ares.jpg
    title: Ares
    link_to: god-guides/ares.html
    klass: Guardian
    desc: 
  - image: images/cards/artemis.jpg
    title: Artemis
    link_to: god-guides/artemis.html
    klass: Hunter
    desc:
  - image: images/cards/bellona.jpg
    title: Bellona
    link_to: god-guides/bellona.html
    klass: Warrior
    desc: 
  - image: images/cards/cupid.jpg
    title: Cupid
    link_to: god-guides/cupid.html
    klass: Hunter
    desc: 
  - image: images/cards/hou-yi.jpg
    title: Hou Yi
    link_to: god-guides/hou-yi.html
    klass: Hunter
    desc: 
  - image: images/cards/janus.jpg
    title: Janus
    link_to: god-guides/janus.html
    klass: Mage
    desc: 
  - image: images/cards/neith.jpg
    title: Neith
    link_to: god-guides/neith.html
    klass: Hunter
    desc: 
  - image: images/cards/poseidon.jpg
    title: Poseidon
    link_to: god-guides/poseidon.html
    klass: Mage
    desc: 
  - image: images/cards/ra.jpg
    title: Ra
    link_to: god-guides/ra.html
    klass: Mage
    desc: 
  - image: images/cards/ymir.jpg
    title: Ymir
    link_to: god-guides/ymir.html
    klass: Guardian
    desc: 


services:
  - icon: trophy
    title: Web Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Web Development
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Branding
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Security
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.


milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---

<!--
  - bg: images/ah-muzen-cab-banner.jpg
    small_title:
      klass: bottom-to-top
      text: watch the smite oracle youtube channel
    title:
      klass: bottom-to-top
      text: Ah Muzen Cab Guide
    buttons:
      klass: bottom-to-top
      items:
        - text: To youtube
          link_to: https://www.youtube.com/channel/UC1Sv9p00MnAyO77RrhuRCbQ
-->


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      <a href='{{site.url}}/god-guides.html'>{% include section-header.html title="God Guides" %}</a>
      <div class="spacing"></div>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-4 medium-block-grid-6 large-block-grid-6">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <a href='{{site.url}}/blog'>{% include section-header.html title="Blog posts" %}</a>
      <div class='spacing'></div>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>


<!--
{% include youtube.html %}


<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Watch guides, best plays and other videos on our YouTube channel.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='https://www.youtube.com/channel/UC1Sv9p00MnAyO77RrhuRCbQ'>Watch now</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
-->
