<div class='links'>
  <h3>Archives</h3>
  <ul>
    <li>
      <a href='#'>September 2015</a>
      <span>(2)</span>
    </li>
    <li>
      <a href='#'>October 2015</a>
      <span>(2)</span>
    </li>
  </ul>
</div>
<!--
<div class='links'>
  <h3>Categories</h3>
  <ul>
    <li>
      <a href='#'>Patch Notes</a>
    </li>
  </ul>
</div>
-->
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    <li>
      <a href='{{site.url}}/2015/10/03/pre-reveal-look-at-sol.html'>A Pre-release Look at Sol</a>
    </li>
    <li>
      <a href='{{site.url}}/2015/09/23/22nd-sept-patch-notes.html'>22nd Sept Patch Notes</a>
    </li>
    <li>
      <a href='{{site.url}}/2015/09/20/welcome.html'>Welcome to Smite Oracle</a>
    </li>
  </ul>
</div>
<!-- <div class='links'>
  <h3>Tags</h3>
  <ul>
    <li>
      <a href='#'>Logo</a>
    </li>
    <li>
      <a href='#'>Development</a>
    </li>
    <li>
      <a href='#'>Design</a>
    </li>
    <li>
      <a href='#'>Photography</a>
    </li>
    <li>
      <a href='#'>News</a>
    </li>
    <li>
      <a href='#'>Javascript</a>
    </li>
  </ul>
</div> -->